{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["plugin:react/recommended"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  "rules": {
    "no-console": "error",
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-irregular-whitespace": "error",
    "no-regex-spaces": "warn",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "block-scoped-var": "error",
    "curly": "error",
    "default-case": "error",
    "eqeqeq": "error",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eq-null": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-redeclare": "error",
    "no-self-assign": "error",
    "no-useless-return": "error",
    "no-warning-comments": "warn",
    "no-undef-init": "error",
    "no-unused-vars": "error",
    "no-use-before-define": "error",
    "camelcase": "warn",
    "max-depth": ["error", 4],
    "max-len": ["error", { "code": 200 }],
    "no-nested-ternary": "error",
    "spaced-comment": "error",
    "no-var": "error",
    "constructor-super": "error",
    "no-const-assign": "error",
    "no-duplicate-imports": "error",
    "no-this-before-super": "error",
    "prefer-arrow-callback": "error",
    "react/prop-types": [2, { "ignore": ["children"] }],
    "react/no-unescaped-entities": 0
  }
}
